@media (max-width:1200px) {
    .header {
        overflow: hidden;
    }

    .header__menu label {
        visibility: visible;
    }
    .header__menu__list {
        position: absolute;
        flex-direction: column;
        transform: translateX(150%);
        top: 13%;
        transition: .3s;
        text-align: right;
    }
    
    #menu__burger_check:checked ~ .header__menu__list {
        transform: translateX(-50%);
    }

    .body__subtitle {
        font-size: 1.7rem;
        padding: .7rem 0;
    }

    .body__info {
        flex-direction: column;
        align-items: center;
    }

    .body__info_left, .body__info_right {
        max-width: 70%;
    }

    .body__info__list li {
        padding: 0 0 0 2rem;
    }

    .footer__forms {
        flex-direction: column;
        align-items: center;
    }

    .footer__form__login, .footer__form__subscribe {
        width: 65%;
        margin: .5rem 0;
    }

    .footer__subtitle {
        font-size: 1.35rem;
        padding: .5rem 0;
    }
}

@media (max-width:1050px) {
    html {
        font-size: 14px;
    }
    
    .body__subtitle {
        font-size: 1.35rem;
        padding: .5rem 0;
    }

    .subtitle {
        font-size: 1.35rem;
        padding: .5rem 0;
    }

    .header__title {
        font-size: 1.8rem;
        padding: 0; 
    }

    .header__slider_left img {
        max-width: 100%;
    }

}

@media(max-width:767px) {
    .header__menu__list {
        top: 20%;
    }
    
    .body__slider__control label img {
        width: 65%;
    }

    .footer__form__login_box {
    }

    .header__slider-box {
        width: 70%;
    }

    .header__slider_right {
        width: 45%;
        padding: 0 1rem;
    }

    .header__title, .header__subtitle {
        line-height: 1.2;
    }

    .slick-prev:before, .slick-next:before {
        content: ;
    
        width: 15px;
    height: 15px;
    }
}

@media(max-width:550px) {
    html {
        font-size: 12px;
    }
    
    .header__menu__list {
        top: 25%;
    }

    .logo {
        font-size: 3.2rem;
        line-height: 1.3rem;
    }

    .header__menu label {
        display: flex;
        align-items: center;
        width: 30px;
        height: 15px;
        position: relative;
    }

    .header__menu__list {
        background-color: #194e34da;
        font-size: 1.5rem;
        border-radius: 6px;
        display: flex;
        z-index: 10;
    }

    .header__title {
        font-size: 1.3rem;
        padding: 0;
    }

    .subtitle {
        font-size: 1.1rem;
        padding: .1rem 0;
    }

    .header__slider_btn {
        height: 2.1rem;
        width: 7rem;
    }

    .body__slider__control label img {
        width: 55%;
    }
    
    .body__info__list li {
        padding: 0 0 0 2.5rem;
    }

    .footer__menu {
        flex-direction: column;
        align-items: center;
    }

    .footer__menu_left {
        display: flex;
        justify-content: space-around;
        margin: 1rem 0;
        min-width: 70%;
    }
}

@media(max-width:375px) {
    html {
        font-size: 10.5px;
    }

    .header__menu__list {
        background-color: #194e34da;
        font-size: 1.2rem;
    }
}